body {
  margin: 0;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: auto;
  margin-top: 100px;
  padding: 25px;
  background: white;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
}